# Virtual muhitlar (Virtual Environments)
venv/
env/
ENV/
.venv/

# Maxfiy ma'lumotlar (Environment Variables)
.env
.env.prod
.env.local

# Django uchun maxsus fayllar
db.sqlite3
*.log
__pycache__/
*.pyc

# IDE (Dasturlash muhiti) fayllari
.idea/
.vscode/